CallJSONandXMLCs/CallJSONandXMLCs/Service References/JSONandXMLCs/JSONandXML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sametcelikbicak.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sametcelikbicak.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sametcelikbicak.com/">
      <s:element name="GetTeamFromXML">
        <s:complexType />
      </s:element>
      <s:element name="GetTeamFromXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamFromXMLResult" type="tns:ArrayOfMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Member">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Salary" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTeamFromJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetTeamFromJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamFromJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTeamFromXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeamFromXML" />
  </wsdl:message>
  <wsdl:message name="GetTeamFromXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamFromXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeamFromJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeamFromJSON" />
  </wsdl:message>
  <wsdl:message name="GetTeamFromJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamFromJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="JSONandXMLSoap">
    <wsdl:operation name="GetTeamFromXML">
      <wsdl:input message="tns:GetTeamFromXMLSoapIn" />
      <wsdl:output message="tns:GetTeamFromXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamFromJSON">
      <wsdl:input message="tns:GetTeamFromJSONSoapIn" />
      <wsdl:output message="tns:GetTeamFromJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JSONandXMLSoap" type="tns:JSONandXMLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTeamFromXML">
      <soap:operation soapAction="http://sametcelikbicak.com/GetTeamFromXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamFromJSON">
      <soap:operation soapAction="http://sametcelikbicak.com/GetTeamFromJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JSONandXMLSoap12" type="tns:JSONandXMLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTeamFromXML">
      <soap12:operation soapAction="http://sametcelikbicak.com/GetTeamFromXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamFromJSON">
      <soap12:operation soapAction="http://sametcelikbicak.com/GetTeamFromJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JSONandXML">
    <wsdl:port name="JSONandXMLSoap" binding="tns:JSONandXMLSoap">
      <soap:address location="http://localhost:57654/JSONandXML.asmx" />
    </wsdl:port>
    <wsdl:port name="JSONandXMLSoap12" binding="tns:JSONandXMLSoap12">
      <soap12:address location="http://localhost:57654/JSONandXML.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>